.services-head {
	display: flex;
	justify-content: center;
}

.services-header-img {
	width: 100%;
}

.services-head h1 {
	font-size: 48px;
}

.services-head h1, p {
	display: flex;
	width: 40%;
	margin: 0px;
	padding: 0px;
	border: 1px solid red;
}
